@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h4 class="display-4">About CoviDoc Health</h4>
    <p>CoviDoc Health is a platform for medical practitioners used for capturing, managing and securely storing Covid-19 Test results of patients,
    which they can request and use as digital health certificates in their phones from their registered mobile numbers.</p>
</div>
